@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Public Sans', sans-serif;
    background-color: #242739;
}

p {
    font-weight: 300;
}

label {
    font-weight: 300;
}

.active {
    pointer-events: none;
    background-color: #242739;
}